*{
    // outline: 1px solid #f00;
}
body,html{
    font-family: 微軟正黑體;
}
.table-time{
    width: 20%;
}
.table-district{
    width: 10%;
}
.table-location{
    width: 30px;
}
.table-description{
    width: 30%;
}
.table-state{
    width: 10%;
}